*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&family=Playwrite+HU:wght@100..400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*  Styling the header  */

header{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(231, 228, 228);
    border-bottom: 1px solid rgb(223, 223, 223);
    padding: 10px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;   
}
ul{
    display: flex;
    list-style: none;
    gap: 10px;
}
 ul,li a{
    text-decoration: none;
    color: rgb(97, 97, 97);
}
ul,li a:hover{
    color: blue;
}
.logo a{
    color: black;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    font-weight: 600;
    text-decoration: none;
}

section{
    height: 100vh;
}
#hero{
    background-color: rgb(243, 244, 246);
}
.bow{
    padding-top: 100px;
    display: flex;
    justify-content: space-evenly;
}
 .first{
    border: none;
    height: 500px;
    width: 400px;
    padding-top: 100px;
 }
 .second{
    width: 600px;
    border: none;
    height: 500px;
 }
 .second img{
    width:100% ;
    height: 100%;
    border-radius: 2%;
 }


#second{
    padding-top: 30px;
    height: 120vh;
}

.grid-container{   
 margin-top: 60px;
 display: flex;
 justify-content: center;
 gap: 2rem;   
}

.product-card{
    border:2px solid gainsboro;
    height: 400px;
    width: 260px;
    border-radius: 15px;
}
.product-card img{
    width: 100%;
    height: 66%;
    border-top-left-radius:15px ;
    border-top-right-radius:15px ;
}
.product-card:hover{
    box-shadow: 12px 12px gainsboro;
    cursor: pointer;   
}

.subcontent{
    width:100%;
    padding: 10px;
}

.third-section{
    height:100vh;
    background-color: rgb(243, 243, 243);
    padding-top:45px;
}